*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Unbounded", sans-serif;
}



input{
    border-radius: 5px;
    border: 0;
    padding: 10px;
}

button{
    border: 0;
    border-radius: 5px;
    padding: 10px;

}



.container{
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.hero{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body{
    background: rgb(251,128,213);
background: radial-gradient(circle, rgba(251,128,213,1) 0%, rgba(224,240,78,1) 100%);
}

.hero__title{
    text-align: center;
    color: rgb(72, 48, 75);
}

.hero__examples{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.hero__buttons--block{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    color: rgb(70, 61, 71);
}

.table__body{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    margin: 10px 0px 60px 0px;
}

.table__column{
    display: flex;
    flex-direction: column;
    width: 100%;

}

.table__element{
    border: 1px solid black;
    text-align: center;
}

.table__iteration{
    text-align: center;
}

#resultTable{
    margin-top: 50px;
}